<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<meta name="format-detection" content="telephone=yes"/>
</head>
<body>
<h1>对不起您还不是会员无法查看，加入会员条件如下：</h1>
<p> 1、在汤泉本地有苗圃、市场有档口的花卉苗木人可以加入。</p>
<p> 2、在本地有苗木需求的苗木经纪人可以加入。</p>
<p> 3、在当地做苗木资材、温室、挖树、物流公司等为花卉苗木行业服务的从业人员可以加入。</p>
<p> 4、现在开通会员，100元/年！开通当天生效，有效期至明年今天。</p>
<p> 5、有疑问联系管理员：苗木助手 <a href = "tel:15295733404" > 15295733404</a>  微信同号 </p>

<script type="text/javascript">
    var ua = navigator.userAgent.toLowerCase();
    var isWeixin = ua.indexOf('micromessenger') != -1;
    var isAndroid = ua.indexOf('android') != -1;
    var isIos = (ua.indexOf('iphone') != -1) || (ua.indexOf('ipad') != -1);
    if (!isWeixin) {
        document.head.innerHTML = '<title>抱歉，出错了</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"><link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/0.4.1/weui.css">';
        document.body.innerHTML = '<div class="weui_msg"><div class="weui_icon_area"><i class="weui_icon_info weui_icon_msg"></i></div><div class="weui_text_area"><h4 class="weui_msg_title">请在微信客户端打开链接</h4></div></div>';
    }
</script>
</body>
</html>
